/** Import fonts */
@font-face {
  font-family: 'Figtree';
  src: url(./assets/fonts/Figtree-Italic-VariableFont_wght.ttf)
      format('truetype'),
    url(./assets/fonts/Figtree-VariableFont_wght.ttf) format('truetype'),
    url(./assets/fonts/static/Figtree-ExtraBold.ttf) format('truetype');
}

/* CSS RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
input,
textarea,
button {
  font: inherit;
}
/* VARRIABLES */
:root {
  /* fonts */
  --FF: 'Figtree', sans-serif;
  --FS: clamp(1rem, 2.2vh, 1.5rem);
  /* color */
  --BGCOLOR-YELLOW: hsl(47, 88%, 63%);
  --BGCOLOR-WHITE: hsl(0, 0%, 100%);
  --BGCOLOR-GRAY500: hsl(0, 0%, 42%);
  --BGCOLOR-GRAY950: hsl(0, 0%, 7%);
}
html {
  background-color: var(--BGCOLOR-YELLOW);
  font-family: var(--FF);
  font-size: var(--FS);
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* Main container */
.container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section {
  background-color: var(--BGCOLOR-WHITE);
}

footer {
  position: absolute;
  bottom: 1.5rem;
}
